@import "bootstrap";
@import "mdDateTimePicker";

#awash-header{
  .dropdown-toggle.user-status{
    color: white;
  }
}

.none{
  display: none !important;
}

a:focus, a:hover{
  text-decoration: none !important;
}

.footer {
  width: 100%;
  margin-top: 3rem;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}
